---
layout: layout.liquid
title: status page
---

<h1>Experimental Category: Outer Space </h1>
   <table>
        <tr>
            <td><img src="/images/starship2.png" alt="starships"></td>
            <td> <h2>Galactic Demolition (Ship): REALTIME UPDATE - INACTIVE </h2> <p>Orbiting High Earth </p> </td>
        </tr>
        <tr>
            <td><img src="/images/satellite.png" alt="satellite"></td>
            <td> <h2>MAXIMUS (Satellite): REALTIME UPDATE - ACTIVE </h2> <p>Geostationary Orbit </p> </td>
        </tr>
        <tr>
            <td><img src="/images/starship.png" alt="starship"></td>
            <td> <h2>WarStar (Starship): REALTIME UPDATE - N/A</h2> <p>Last Pinged Orbiting Medium Earth </p> </td>
     </tr>
    </table>